.wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    max-width: 100%;
    width: 100vw;
    height: calc(100vh - 5rem);
    justify-content: stretch; 
    align-content: stretch;
    .options{
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: span 1;
        button{
            margin-right: 0.5rem;
        }
    }
    .owncards{
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 5;
        grid-row-end: span 1;
        padding: 1rem;

    }
    .tableCards{
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 1;
        display: flex;
        padding: 1rem;
    }

    .skatCards{
        grid-column-start: 5;
        grid-column-end: span 1;
        grid-row-start: 5;
        grid-row-end: span 1;
        display: flex;
        padding: 1rem;
    }

    #chat{
        grid-column-start: 5;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 4;
        border: 1px solid #3f51b5;
        overflow-y: scroll;
    }

}

.mat-select{
    width: 50%;
    background-color: #3f51b5;
    padding: 0.5rem;
    margin-right: 0.5rem;
}
