<div class="wrapper">

    <div class="options">
        <button mat-flat-button color="primary" *ngIf="phase == 0" (click)="ready()">Ready</button>
        <!--  <button (click)="sortCards()">AutoSort</button> -->
        <mat-select color="primary" (change)="setPlayingTypeValue($event)" *ngIf=" 4 > phase && phase > 0">
            <mat-option value=12>Auf Eichel reizen</mat-option>
            <mat-option value=11>Auf Grün reizen</mat-option>
            <mat-option value=10>Auf Rot reizen</mat-option>
            <mat-option value=9>Auf Schell reizen</mat-option>
            <mat-option value=24>Auf Grand reizen</mat-option>
            <mat-option value=23>Auf Null reizen</mat-option>
        </mat-select>
        <button mat-flat-button color="primary" (click)="toggleHand()" *ngIf="2 > phase  && phase > 0">Auf Hand
            reizen</button>
        <button mat-flat-button color="primary" (click)="toggleOuvert()" *ngIf="2 > phase  && phase > 0">Auf Ouvert
            reizen</button>

        <span *ngIf="self && 2 > phase" style="margin-top: 1rem;">Reizen bis {{self.maxSkatTravel}} möglich! </span>

        <button mat-flat-button color="primary" *ngIf="currentSkatTravel && 2 > phase"
            (click)="skatTravelAnswer(true);">{{currentSkatTravel}}</button>
        <button mat-flat-button color="primary" *ngIf="currentSkatTravel  && 2 > phase"
            (click)="skatTravelAnswer(false);">"Weg"</button>
        <button mat-flat-button color="primary" (click)="putSkatAway()" *ngIf="phase == 2">Skat confirm</button>
        <button mat-flat-button color="primary" (click)="setGameType()" *ngIf="phase == 3">Type confirm</button>
    </div>
    <div class="tableCards">
        <div *ngFor="let card of tableCards; let i = index" style="width: 30%;">
            <img src="assets/Skat-{{card}}.png" alt="" style="max-width: 100%; height: 15vh;">
        </div>
    </div>
    <div class="skatCards">
        <div *ngFor="let card of skatCards; let i = index">
            <img src="assets/Skat-{{card}}.png" alt="" style="max-width: 100%; height: 15vh;">
        </div>
    </div>
    <div *ngFor="let player of players">
        <div>
            <span style="color: white;">{{player.username}} ({{player.gamePoints}})</span>
        </div>
        <div class="cards" style="flex: 1; display: flex;">
            <div *ngFor="let card of playerMap.get(player); let i = index" style="width: 8%;">
                <img src="assets/Skat-{{card}}.png" alt="" style="max-width: 100%; height: 15vh;">
            </div>
        </div>
    </div>

    <div id="chat">
        <p *ngFor="let msg of msgs">{{msg}}</p>
    </div>
    <div class="owncards" style="flex: 1; display: flex;">
        <div *ngFor="let card of ownCards; let i = index" style="width: 8%;">
            <img src="assets/Skat-{{card}}.png" (click)="playCard(card)" alt="" style="max-width: 100%; height: 15vh;">
        </div>
    </div>
</div>