<div mat-dialog-content *ngIf="fromPlayer" class="getting-sips">
    <h1 mat-dialog-title>{{languageService.currentLanguage.youReceive}} {{amount}}
        {{languageService.currentLanguage.sips}} ({{fromPlayer}}). {{languageService.currentLanguage.drink}}</h1>
</div>
<div mat-dialog-content *ngIf="players" class="giving-sips">
    <div *ngIf="correct" class="correct-guess">
        <h1 *ngIf="correct == true">{{languageService.currentLanguage.correct}}</h1>
        <h1 mat-dialog-title>{{languageService.currentLanguage.availableSips}} {{sipsAvail}}
            {{languageService.currentLanguage.sips}}</h1>
        <div class="avoidTriggeringMaxAkaPlaceholder" *ngIf="mobile == false">
            <p>{{languageService.currentLanguage.whoShouldDrink}}</p>
            <mat-list>
                <mat-list-item *ngFor="let player of players">
                    <mat-form-field>
                        <mat-labe>{{player.username}} ({{player.drinks}})</mat-labe>
                        <input matInput value="giveSips" type="number" class="sinput" color="red" max="{{sipsAvail}}">
                        <!--maximal wert von input noch variabel bestimmen? does it work?-->
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>
        <div mat-dialog-actions>
            <button mat-button [mat-dialog-close]="" (click)="onOkClick()">Ok</button>
        </div>
    </div>
    <div *ngIf="correct == false" class="wrong-guess">
        <h1 mat-dialog-title>{{languageService.currentLanguage.wrong}}</h1>
        <p>{{languageService.currentLanguage.drinkSips}} {{sipsAvail}} {{languageService.currentLanguage.sips}}!</p>
    </div>
</div>