<h3>{{languageService.currentLanguage.setUsername}}</h3>
<div class="bg-secondary">
    <form>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input #usernameval matInput autocomplete="off" value="{{username}}">
        </mat-form-field>
        <button mat-raised-button (click)="updateUsername(usernameval.value)">
            <mat-icon>edit</mat-icon> Update
        </button>
    </form>
</div>
