<div class="container">
    <div class="player_window" *ngFor="let player of players" [ngStyle]="player.active && {'border': '1px red solid'}">
        <div class="player-window-header">
            <span class="username">{{player.username}} </span>
            <span class="drinks">({{player.drinks}})</span>
            <button mat-mini-fab (click)="sendDrinks(1, player.socketID);">
                <mat-icon>plus_one</mat-icon>
            </button>
        </div>
        <div class="cards" *ngIf="17 > phase && phase > -1">
            <img *ngFor="let card of playerMap.get(player); index as i" src="assets/{{card}}.svg" alt="">
        </div>
    </div>
    <div class="game_window">
        <button class="ready" mat-flat-button color="primary" (click)="ready()"
            *ngIf="phase == -1">{{languageService.currentLanguage.ready}}</button>
        <button class="tutorial" mat-flat-button color="primary" *ngIf="phase == -1"
            (click)="openTutorial();">{{languageService.currentLanguage.tutorial}}</button>
        <div class="sip-div" *ngIf="phase > -1 && self">
            <!--Verteiler Button-->
            <button mat-fab color="primary" (click)="openDialog('true', self.canSendAmmount);">
                <mat-icon matBadge="{{self.canSendAmmount}}" matBadgeColor="warn">sports_bar</mat-icon>
            </button>
        </div>
        <div class="ownCards" *ngIf="ownCards && ownCards.length != 0 && 16 > phase && phase >= 0"
            [ngStyle]="phase > 4 && {'float': 'left', 'position':'relative', 'left': '0', 'top': '0', 'margin-left':'0', 'margin-right':'-50%', 'z-index':'5'}">
            <p>{{languageService.currentLanguage.ownCards}}: </p>
            <img *ngFor="let card of ownCards; let i = index" (click)="putCardOnPyramid(card)" src="assets/{{card}}.svg"
                alt="">
        </div>
        <div class="guessingPhase">
            <div *ngFor="let round of rounds; index as i">
                <div *ngIf="phase == i && ownCards && ownCards.length != 0">
                    <p class="choice">{{roundDesc[i]}}</p>
                    <button mat-flat-button *ngFor="let option of options[i]; index as j"
                        (click)="guess(round,options[i][j])" class="choice-button"
                        [ngStyle]="{'background-color': j==0 ? '#f44336' : ' #3f51b5'}">{{optionsDesc[i][j]}}</button>
                </div>
            </div>
        </div>
        <div class="pyramid" *ngIf="pyramidArray && pyramidArray.length != 0 &&  17 > phase && phase >= 4">
            <div class="pyramid-row">
                <img src="assets/{{pyramidArray[9]}}.svg" alt="">
            </div>
            <div class="pyramid-row">
                <img *ngFor="let card of pyramidArray.slice(7,9);index as i" src="assets/{{pyramidArray[i+7]}}.svg">
            </div>
            <div class="pyramid-row">
                <img *ngFor="let card of pyramidArray.slice(4,7);index as i" src="assets/{{pyramidArray[i+4]}}.svg">
            </div>
            <div class="pyramid-row">
                <img *ngFor="let card of pyramidArray.slice(0,4);index as i" src="assets/{{pyramidArray[i]}}.svg">
            </div>

            <button mat-raised-button color="warn"
                (click)="nextCard()">{{languageService.currentLanguage.nextCard}}</button>

        </div>
        <div class="bus" *ngIf="busArray && busArray.length != 0 && phase >= 17">
            <div class="bus-row">
                <img *ngFor="let card of busArray.slice(12,14); index as i" (click)="guessBus(i+12);"
                    src="assets/{{card}}.svg" width="100%" height="100%" alt="">
            </div>
            <div class="bus-row">
                <img *ngFor="let card of busArray.slice(9,12); index as i" (click)="guessBus(i+9);"
                    src="assets/{{card}}.svg" width="100%" height="100%" alt="">
            </div>
            <div class="bus-row">
                <img *ngFor="let card of busArray.slice(5,9); index as i" (click)="guessBus(i+5);"
                    src="assets/{{card}}.svg" width="100%" height="100%" alt="">
            </div>
            <div class="bus-row">
                <img *ngFor="let card of busArray.slice(2,5); index as i" (click)="guessBus(i+2);"
                    src="assets/{{card}}.svg" width="100%" height="100%" alt="">
            </div>
            <div class="bus-row">
                <img *ngFor="let card of busArray.slice(0,2); index as i" (click)="guessBus(i);"
                    src="assets/{{card}}.svg" width="100%" height="100%" alt="">
            </div>
        </div>
    </div>
    <div id="chat" class="chat_window">
        <h1>Chat</h1>
        <div>
            <p *ngFor="let msg of msgs;" class="chat-message">{{msg}}<br></p>
        </div>
    </div>
</div>