

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    max-width: 100%;
    width: 100vw;
    height: calc(100vh - 5rem);
    justify-content: stretch; 
    align-content: stretch;
  }

.chat_window{
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    border: 1px solid rgb(68, 69, 150);
    overflow-y: scroll;
}

.game_window {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
    padding: 1rem;
    overflow: auto;
    text-align: center;
    .ready{
        margin: 10% auto;
        font-size: 3rem;
        height: 4rem;
        width: 80%;
    }
    .tutorial{
        text-align: center;
        margin: auto;
        font-size: 2rem;
        height: 3rem;
        width: 30%
    }
    .ownCards{
        text-align: center;
        width: 50%;
        margin: 0 25% auto;
        p{
            color: white;
            font-size: 2rem;
        }
        img{
            width: 20%;
            padding-top: 3%;
            &:hover{
                padding-top: 0;
                width: 22%;
                cursor: pointer;
            }
        }

        
    }
    .sip-div{
        float: right;
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        width: 3rem;
        height: 2rem;
        margin-bottom: -2rem;
        margin-left: -3rem;
        span{
            color: lightgray;
            width: 100%;
            font-size: small;
        }
    }

    .guessingPhase{
        text-align: center;
        width: 50%;
        margin: 0 25% auto;
        span{
            font-size: 2rem;
        }
        .choice{
            color: white;
            font-size: 2rem;
            font-weight: bold;
        }
        .choice-button{
            color: white;
            align-content: center;
            margin-right: 1rem !important;
        }
    }

    .pyramid{
        margin: 0;
        margin-left: 10%;
        text-align: center;
        padding-top: 1%;
        &-row{
            align-items: center;
            img{
                width: 10%;
            }
        }
    } 
    
    .bus{
        align-items: center;
        align-content: center;
        text-align: center;    
        &-row{
            align-items: center;
            img{
                width: 8%;
            }
        }
    }

    
}

.player_window {
    border: 1px solid rgb(182, 129, 129);
    background-color: rgba(0, 100, 0, 0);
    padding: 0.5rem;
    overflow: hidden;
    .player-window-header{
        display: flex;
        min-height: 25%;
        span{
            color: lightgray;
            font-size: 1.5rem;            
        }
        .username{
            overflow: hidden;
            max-width: 80%;
        }
        .drinks{
            margin: 0 0.5rem; 
            flex: 1;

        }
    }
    .cards{
        text-align: center;
        img{
            width: 25%;
        }
    }
    button{
        max-height: 25%;
        font-size: medium;
    }
}

.chat_window{
    grid-column-start: 5;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: span 4;
    padding: 1rem;
    h1{
        color: rgb(190, 151, 151);
    }
    .chat-message{
        color: lightgray;
        margin-left: 5px;
        word-break: break-all;
    }
}

.flex{
    display: flex;
}
