<div class="top-wrapper">
    <div class="create"><button mat-raised-button
            (click)="createRoom()">{{languageService.currentLanguage.createRoom}}</button></div>
    <div class="join">
        <mat-form-field>
            <mat-label>Join Url</mat-label>
            <input #joinVal matInput placeholder="busfahrer.wms-devs.de/test" value="" autocomplete="off">
        </mat-form-field>
        <button mat-raised-button (click)="join(joinVal.value)">{{languageService.currentLanguage.joinRoom}}</button>
    </div>

</div>

<!--Stats-->
<div class="table-wrapper">
    <h1 class="stats-h1">{{languageService.currentLanguage.topStats}}</h1>
    <div class="stats-wrapper">
        <div class="stats">
            <table mat-table [dataSource]="dataSource" class="stat-table">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="rank"> No. </th>
                    <td mat-cell *matCellDef="let element" class="rank"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="name"> Name </th>
                    <td mat-cell *matCellDef="let element" class="name"> {{element.name}} </td>
                </ng-container>

                <!-- stat Column -->
                <ng-container matColumnDef="sipsDrunk">
                    <th mat-header-cell *matHeaderCellDef class="number" (click)="rankListSipsDrunk()">
                        {{languageService.currentLanguage.sipsDrunk}}
                        <span *ngIf="activeColumnIndex == 2;">▼</span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="number"> {{element.sipsDrunk}} </td>
                </ng-container>

                <!-- stat Column -->
                <ng-container matColumnDef="sipsSent">
                    <th mat-header-cell *matHeaderCellDef class="number" (click)="rankListSipsSent()">
                        {{languageService.currentLanguage.sipsShared}}
                        <span *ngIf="activeColumnIndex == 3;">▼</span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="number"> {{element.sipsSent}} </td>
                </ng-container>

                <ng-container matColumnDef="sipsRatio">
                    <th mat-header-cell *matHeaderCellDef class="number" (click)="rankListSipsRatio()">
                        {{languageService.currentLanguage.sipsRatio}}
                        <span *ngIf="activeColumnIndex == 4;">▼</span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="number"> {{element.sipsRatio}} </td>
                </ng-container>

                <!-- stat Column -->
                <ng-container matColumnDef="gamesPlayed">
                    <th mat-header-cell *matHeaderCellDef class="number" (click)="rankListGamesPlayed()">
                        gamesPlayed
                        <span *ngIf="activeColumnIndex == 5;">▼</span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="number"> {{element.gamesPlayed}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>