.top-wrapper{
    text-align: center;
    display: flex;
    width: 80%;
    margin: auto 10%;
    div{
        padding: 2rem;
        flex: 1;
        display: flex;
        mat-form-field{
            flex: 2;
            vertical-align: bottom;
        }
        button{
            height: 4rem;
            flex: 1;
            margin: 1rem;
            background-color: #3f51b5;
            color: white;
        }

    }
    
}

.table-wrapper{
    margin-top: 3rem;
    text-align: center;
}

.stats-h1{
    color: white;
}


.stats tr:nth-child(even){
    background-color:rgb(150, 150, 150);
}

.stats tr{
    background-color:rgb(95, 95, 95);
}

.stats td, .stats th {
    border-bottom: 1px solid lightgray;
}

.stats tr:hover{
    background-color: lightslategray;
}

.stats th {
    text-align: center;
    background-color: darkgray;
    color: white;
}

table{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.stats{
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    .stat-table{
    border-collapse: collapse;
        .rank{
            width: 10%;
        }
        .name{
            width: 30%;
        }
        .number{
            width: 15%;
            cursor: pointer;
        }

    }
    .mat-header-cell {
        background-color: #3f51b5;
    }
    
}

.stats-wrapper{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}


