<div class="wrapper">
    <div class="intro">
        <h1>Tutorial</h1>
        <p>Nicht jeder spielt Busfahrer auf die gleiche Art und Weise. Hier folgt eine kurze Erklärung zu unserer Version.<br>
        Sobald alle Spieler verbunden und auf 'Bereit' geklickt haben, kann es auch schon losgehen. <br>
        Im Grunde ist das Spiel in die 3 Phasen eingeteilt und weitgehend selbsterklärend:</p>
    </div>
    <div class="tabs">
        <mat-tab-group mat-stretch-tabs class="group">
            <!--Anfang-->
            <mat-tab label="Anfangsphase">
                <p>Jeder Spieler erhält 4 Karten. Nun gilt es der Reihe nach die Fragen bezüglich der nächsten Karte zu beantworten. 
                    Liegt man richtig darf man Schlücke verteilen, ansonsten muss man selber trinken. Wie viel ist abhängig davon, bei welcher Karte man ist.
                </p>
            </mat-tab>

            <!--Pyramide-->
            <mat-tab label="Pyramide">
                <p>
                    Nun werden nacheinander die Karten bei der Pyramide aufgedeckt. 
                    Hat man den gleichen Wert, so kann man die Karten durch Klicken auf die eigene Karte auf die Pyramide legen.
                    Daraufhin darf man wiederum Schlücke verteilen. Die Anzahl ist abhängig davon, bei welcher der 4 Stufen der Pyramide sich die Karte befand.
                    Es ist wichtig möglichst viele seiner Karten loszuwerden!
                </p>

            </mat-tab>

            <!--Busfahrer-->
            <mat-tab label="Busfahrer">
                <p>
                    Wer am Ende der Pyramide noch die meisten Karten hat, wird Busfahrer. 
                    Sollten mehrere Spieler gleich viele Karten haben, so wird der mit dem *niedrigsten* addierten Kartenwert Busfahrer.<br>
                    Als Busfahrer gilt es, nacheinander eine Karten pro Ebene aufzudecken. Beginnend unten. 
                    Deckt man ein Bild auf (also J, Q, K, A), so hat man verloren und muss von vorne anfangen.
                    Zusätzlich muss man jedes mal wenn man verliert so viele Schlücke trinken, wie man Karten aufgedeckt hat.
                </p>

            </mat-tab>

            <!--Sonstiges-->
            <mat-tab label="Weitere Tipps">
                <p>
                    Verpasst man es mal, Schlücke zu verteilen, ist das kein Problem. Einfach auf den Bierkrug-Button oben links klicken und verteilen nach belieben.
                    <br>
                    Beim Busfahren, werden zunächst keine schon mal entdeckten Karten wieder hingelegt. Erst wenn das (nicht sichtbare) Deck leer ist.
                </p>

            </mat-tab>
          </mat-tab-group>          
    </div>    
</div>