.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70% 15% 15%;
    max-width: 100%;
    width: 100vw;
    height: calc(100vh - 5rem);
    justify-content: stretch; 
    align-content: stretch;
  }

  .bus{
    padding-left: 0rem;
    grid-area: 1 / 1 / 3 / 4;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;  
    &-row{
        align-items: center;
        display: flex;
        justify-content: center;
        img{
            width: 30%;
            padding-left: 0rem;
            padding-top: 0rem;
        }
    }
}

  .main_window {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 1rem;
    overflow: auto;
    text-align: center;
    .ready{
        margin: 10% auto;
        font-size: 3rem;
        height: 4rem;
        width: 80%;
    }
    .ownCards {
        justify-content: center;
        p{
            color: white;
            font-size: 1rem;
        }
        .ownCard{
            display: flex;
            img{
                width: 30%;
            } 
        }
 
    }

    .guessingPhase{
        text-align: center;
        span{
            font-size: 1rem;
        }
        .choice{
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .choice-button{
            color: white;
            align-content: center;
            margin-right: 1rem !important;
            height: 10vh;
            width: 35vw;
        }
    }

    .pyramid{
        margin: 0;
        margin-left: 1%;
        text-align: center;
        padding-top: 0%;
        &-row{
            align-items: center;
            img{
                margin-top: -5%;
                width: 20%;
            }
        }
        .nextButton{
            button{
                height: 10vh;
            }
            top: 0;
            right: 0;
            float: right;
            position: relative;
            z-index: 1;
            margin-left: -5.5rem;
        }
    } 

}

.notSelf{
    border: 1px solid rgb(182, 129, 129);
    padding-top: 0.3rem;
    text-align: center;
    button{
        height: 6vh;
        background-color: orange;
    }
    span{
        color: lightgray;
        font-size: 1rem;            
    }
    .username{
        overflow: hidden;
        max-width: 80%;
    }
    .drinks{
        margin: 0 0.5rem; 
        flex: 1;

    }
}