<div class="container">
    <div class="main_window">
        <button class="ready" mat-flat-button color="primary" (click)="ready()"
            *ngIf="phase == -1">{{languageService.currentLanguage.ready}}</button>
            <!--Maybe Missing: Verteiler Button; Button für Spieler Dialog (Karten etc anzeigen)-->
        <div class="ownCards" *ngIf="ownCards && ownCards.length != 0 && 16 > phase && phase >= 0">
            <p *ngIf="4 > phase">{{languageService.currentLanguage.ownCards}}: </p>
            <div class="ownCard">
                <img *ngFor="let card of ownCards; let i = index" (click)="putCardOnPyramid(card)" src="assets/{{card}}.svg"
                    alt="">
            </div>   
        </div>
        <div class="guessingPhase">
            <div *ngFor="let round of rounds; index as i">
                <div *ngIf="phase == i && ownCards && ownCards.length != 0">
                    <p class="choice">{{roundDesc[i]}}</p>
                    <button mat-flat-button *ngFor="let option of options[i]; index as j"
                        (click)="guess(round,options[i][j])" class="choice-button"
                        [ngStyle]="{'background-color': j==0 ? '#f44336' : ' #3f51b5'}">{{optionsDesc[i][j]}}</button>
                </div>
            </div>
        </div>
        <div class="pyramid" *ngIf="pyramidArray && pyramidArray.length != 0 &&  17 > phase && phase >= 4">
            <div class="nextButton">
                <button mat-raised-button color="warn"
                    (click)="nextCard()">{{languageService.currentLanguage.nextCard}}</button>
            </div>
            <div class="pyramid-row">
                <img src="assets/{{pyramidArray[9]}}.svg" alt="">
            </div>
            <div class="pyramid-row">
                <img *ngFor="let card of pyramidArray.slice(7,9);index as i" src="assets/{{pyramidArray[i+7]}}.svg">
            </div>
            <div class="pyramid-row">
                <img *ngFor="let card of pyramidArray.slice(4,7);index as i" src="assets/{{pyramidArray[i+4]}}.svg">
            </div>
            <div class="pyramid-row">
                <img *ngFor="let card of pyramidArray.slice(0,4);index as i" src="assets/{{pyramidArray[i]}}.svg">
            </div>

        </div>
    </div>
    <div class="bus" *ngIf="busArray && busArray.length != 0 && phase >= 17">
        <div class="bus-row">
            <img *ngFor="let card of busArray.slice(12,14); index as i" (click)="guessBus(i+12);"
                src="assets/{{card}}.svg" width="100%" height="100%" alt="">
        </div>
        <div class="bus-row">
            <img *ngFor="let card of busArray.slice(9,12); index as i" (click)="guessBus(i+9);"
                src="assets/{{card}}.svg" width="100%" height="100%" alt="">
        </div>
        <div class="bus-row">
            <img *ngFor="let card of busArray.slice(5,9); index as i" (click)="guessBus(i+5);"
                src="assets/{{card}}.svg" width="100%" height="100%" alt="">
        </div>
        <div class="bus-row">
            <img *ngFor="let card of busArray.slice(2,5); index as i" (click)="guessBus(i+2);"
                src="assets/{{card}}.svg" width="100%" height="100%" alt="">
        </div>
        <div class="bus-row">
            <img *ngFor="let card of busArray.slice(0,2); index as i" (click)="guessBus(i);"
                src="assets/{{card}}.svg" width="100%" height="100%" alt="">
        </div>
    </div>
    <div class="sub_window" *ngFor="let player of players">
        <div class="other_players" *ngIf="17 > phase">
            <div class="notSelf" *ngIf="player.socketID != self.socketID">
                <span class="username">{{player.username}} </span>
                <span class="drinks">({{player.drinks}})</span>
                <button mat-raised-button color="orange" (click)="sendDrinks(1, player.socketID);">
                    <mat-icon>plus_one</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>