mat-toolbar {
    color: white;
    width: 100%;
    margin: 0 auto;
    height: 3rem;
    max-height: 3rem;
    a{
        color: white;
        text-decoration: none;
        margin-left: 1em;
        margin-right: 0.3em;
        font-size: 2.5rem;
        cursor: pointer;
    }
    button{
        color: white;
        background-color: rgba(128, 128, 128, 0);
        margin-right: 1rem;
        vertical-align:middle;

        &:hover{
            cursor : pointer;
        }
        border:none;
      }
}

.flex {
    flex: 1;
}

mat-icon{
    font-size: 2.5rem;
    position: relative;
    top: 1px; /*Change this to adjust the icon*/
}