<mat-toolbar color="primary">
    <a href="/">
        {{languageService.currentLanguage.busdriver}}
    </a>
    <a mat-icon-button href="/">
        <mat-icon class="bus-icon">
            directions_bus
        </mat-icon>
    </a>
    <span class="flex"></span>
    <a mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
    </a>
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let lang of langArray"
            (click)="updateLanguage(lang)">{{lang.languageName}}</button>
    </mat-menu>
    <a (click)="openUserInfo()">
        <mat-icon aria-hidden="false" aria-label="user icon">person</mat-icon>
    </a>
</mat-toolbar>